/getting_started/.terraform
/getting_started/.terraform.lock.hcl
/getting_started/terraform.tfstate
/getting_started/terraform.tfstate.backup

/provisioners/clout-init/.terraform
/provisioners/clout-init/.terraform.lock.hcl
/provisioners/clout-init/terraform.tfstate
/provisioners/clout-init/terraform.tfstate.backup

/provisioners/file/.terraform
/provisioners/file/.terraform.lock.hcl
/provisioners/file/terraform.tfstate
/provisioners/file/terraform.tfstate.backup

/provisioners/local-exec/.terraform
/provisioners/local-exec/.terraform.lock.hcl
/provisioners/local-exec/terraform.tfstate
/provisioners/local-exec/terraform.tfstate.backup
/provisioners/local-exec/private_ips.txt

/provisioners/remote-exec/.terraform
/provisioners/remote-exec/.terraform.lock.hcl
/provisioners/remote-exec/terraform.tfstate
/provisioners/remote-exec/terraform.tfstate.backup


/provisioners/null_resource/.terraform
/provisioners/null_resource/.terraform.lock.hcl
/provisioners/null_resource/terraform.tfstate
/provisioners/null_resource/terraform.tfstate.backup
/providers/azure/.terraform
/providers/azure/.terraform.lock.hcl
/providers/azure/terraform.tfstate